.lightning {
  position: absolute;

  &--1 {
    top: 54px;
    left: 11%;
  }

  &--2 {
    left: 36%;
    width: 40px;
    height: 70px;
    transform: rotate(18deg);
    top: 25px;
  }

  &--3 {
    left: 62%;
    width: 101px;
    height: 174px;
    transform: rotate(59deg);
    top: -60px;
  }

  &--4 {
    width: 40px;
    height: 69px;
    left: 74%;
    transform: rotate(79deg);
    top: 130px;
  }

  &--purple {
    fill: $color-vivid-violet;
  }

  &--pink {
    fill: $color-torch-red;
  }

  &--blue {
    fill: $color-neon-blue;
  }

  @include viewport--md {
    &--purple,
    &--pink,
    &--blue {
      fill: $color-default-white;
    }
  }
}
