.preloader {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-default-white;
  z-index: 1;

  &--hide {
    display: none;
  }
}

.preloader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 100px;
}

.preloader__logo {
  margin-top: auto;
  flex-shrink: 0;
  width: 801px;
  height: 100px;

  @include viewport--md {
    width: 550px;
    height: 70px;
  }
}

.preloader__text {
  margin-top: auto;
  margin-bottom: 0;
  flex-shrink: 0;
}
